.accord{
    box-shadow: none !important;
    border: none !important;
    background-color: white !important;
}
.accord :focus{
    border: none !important;
    box-shadow: none !important;
    background-color: white !important;
}
.accord :active{
    border: none !important;
    box-shadow: none !important;
    background-color: white !important;
}

.accord-text{
    font-size: 18px ;
    font-weight: 500;
    color: #000000;
}
.accord-gender{
    height: 114px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    border: 1px solid #acacac;
    border-radius: 6px;
}
.accord-gender label, .accord-price label{
    height: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #525252;
    cursor: pointer;
}
.accord-gender input,  .accord-price input{
    width: 19px;
    height: 18px;
}
.accord-brand{
    border: 1px solid #acacac;
    border-radius: 6px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.accord-brand span{
    width: 20px;
    height: 25px; 
    border-radius: 6px;
    border: 1px solid #d7d7d7;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: gray;
    font-weight: 500;
}
.accord-availability{
    height: 80px;
    border: 1px solid #acacac;
    border-radius: 4px;
}
.accord-availability ul{
    font-size: 1.2rem;
    font-weight: 700;
    color: green;
}
.accord-availability ul :last-child{
    color: red;
}

.accord-price{
    border: 1px solid #d7d7d7;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
}

 
