.text-body{
    /* margin-bottom: 7rem; */
    width: 100%;
}

.text-body1 h1{
    font-size: 1.5rem;
    width: 100% ;
    display: flex;
    margin-left: -8rem;
    font-size: 4rem;
    font-weight: 700;
  }
.text-body1 p{
    font-size: 0.7rem;
    width: 80%;
    display: flex;
    margin-left: -8rem;
    margin-bottom: 4rem !important;
    font-size: 1.3rem;
    font-weight: 100;
  }
.text-body2 h1{
    font-size: 1.5rem;
    width: 100% ;
    display: flex;
    margin-left: -8rem;
    font-size: 4rem;
    font-weight: 700;
  }
.text-body2 p{
    font-size: 0.7rem;
    width: 80%;
    display: flex;
    margin-left: -8rem;
    margin-bottom: 4rem !important;
    font-size: 1.3rem;
    font-weight: 100;
  }
.text-body3 h1{
    font-size: 1.5rem;
    width: 100% ;
    display: flex;
    margin-left: -8rem;
    font-size: 4rem;
    font-weight: 700;
  }
.text-body3 p{
    font-size: 0.7rem;
    width: 80%;
    display: flex;
    margin-left: -8rem;
    margin-bottom: 4rem !important;
    font-size: 1.3rem;
    font-weight: 100;
  }
.text-body4 h1{
    font-size: 1.5rem;
    width: 100% ;
    display: flex;
    margin-left: -8rem;
    font-size: 4rem;
    font-weight: 700;
  }
.text-body4 p{
    font-size: 0.7rem;
    width: 80%;
    display: flex;
    margin-left: -8rem;
    margin-bottom: 4rem !important;
    font-size: 1.3rem;
    font-weight: 100;
  }
  .btn{
    width: 140px !important;
    height: 40px;
    font-weight: 600;
    margin-left: -14rem !important;
  }
.carousel-indicators [data-bs-target]{
    width: 15px !important; ;
    height: 15px  !important;
    /* border: 2px solid rgb(255, 0, 0) !important; */
    border-radius: 50%;
    /* background-color: transparent !important; */
    /* color: aqua !important; */
  }
  .btn{
    width: 170px !important;
    height: 45px;
    display: flex !important;
    justify-content: center;
    font-weight: 400;
    margin-left: -8rem !important;
    margin-bottom: 2rem;
    /* display: flex; */
  }
  .btn-mobile{
    display: none !important;
  }
  [data-bs-target] {
        border: 2px solid white !important;
        background: transparent !important;
  }
  /* [data-bs-target]:focus {
    background: white !important;
  } */
  .active{
    background: white!important;
  }
  .section-b{
    width: 100% !important;
    height: 100px !important;
    background-color: #E2FAFF !important;
    /* display: flex !important; */

  }
  .texts{
    display: flex;
    justify-content: center !important;
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  .text1 img{
    width: 40px;
    height: 40px;
    margin-top: 0.6rem;
  }
  .text1 p{
    padding: 1rem !important;
    font-weight: 100;
}
  .text2 img{
    width: 40px;
    height: 40px;
    margin-top: 0.6rem;
  }
  .text2 p{
    padding: 1rem !important;
    font-weight: 100;
}
  .text3 img{
    width: 40px;
    height: 40px;
    margin-top: 0.6rem;
  }
  .text3 p{
    padding: 1rem !important;
    font-weight: 100;
}
 
  @media (max-width: 767px) {
    img{
        width: 100%;
        height: 230px !important;
    }
   .text-body1 h1{
        font-size: 1.5rem;
        width: 100% !important;
        margin-left: -3rem !important;
        font-weight: 700 !important;
        margin-bottom: 0rem !important;
        
      }
   .text-body1 p{
        font-size: 0.7rem;
        width: 80% !important;
        margin-left: -3.9rem !important;
        margin-bottom: 0.5rem !important;
        /* margin-top: 0 !important; */
        
      }
   .text-body2 h1{
        font-size: 1.5rem;
        width: 100% !important;
        margin-left: -3rem !important;
        font-weight: 700 !important;
        margin-bottom: 0rem !important;
      }
   .text-body2 p{
        font-size: 0.7rem;
        width: 80% !important;
        margin-left: -3.4rem !important;
        margin-bottom: 0.5rem !important;
      }
   .text-body3 h1{
        font-size: 1.5rem;
        width: 100% !important;
        margin-left: -3rem !important;
        font-weight: 700 !important;
        margin-bottom: 0rem !important;
      }
   .text-body3 p{
        font-size: 0.7rem;
        width: 80% !important;
        margin-left: -4.1rem !important;
        margin-bottom: 0.5rem !important;
      }
   .text-body4 h1{
        font-size: 1.5rem;
        width: 100% !important;
        margin-left: -3rem !important;
        font-weight: 700 !important;
        margin-bottom: 0rem !important;
      }
   .text-body4 p{
        font-size: 0.7rem;
        width: 80% !important;
        margin-left: -3.4rem !important;
        margin-bottom: 0.5rem !important;
      }
      .btn{
        display: none !important;
      }
      .btn-mobile{
        display: block !important;
        width: 140px !important;
        height: 40px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        margin-left: -3rem !important;
        /* margin-bottom: 2rem !important; */
      }
      .btn-mobile:hover{
        background-color: rgb(74, 74, 74);
      }
      .section-b{
        width: 100% !important;
        height: 100px !important;
        background-color:#E2FAFF        !important;
        /* display: flex !important; */
    
      }
      .texts{
        display: flex;
        justify-content: center !important;
        justify-content: space-evenly !important;
        align-items: center !important;
        width: 100% !important;
        height: 90px !important;
      }
      .text1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 30%;
      }
      .text1 img{
        width: 20px;
        height: 20px;
        /* margin-top: 0.6rem !important; */
      }
      .text1 p{
        /* padding: 1rem !important; */
        font-weight: 200;
        height: 60px;
        /* margin-left: 1.5rem; */
        width: 100%;
        font-size: 10px;
    }
    .text2{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      width: 30%;
    }
      .text2 img{
        width: 20px;
        height: 20px;
        /* margin-top: 0.6rem !important; */
      }
      .text2 p{
        /* padding: 1rem !important; */
        font-weight: 200;
        height: 60px;
        /* margin-left: 1.5rem; */
        width: 100%;
        font-size: 10px;
    }
    .text3{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      width: 30%;
    }
      .text3 img{
        width: 20px;
        height: 20px;
        /* margin-top: 0.6rem !important; */
      }
      .text3 p{
        /* padding: 1rem !important; */
        font-weight: 200;
        /* margin-left: 1rem; */
        width: 100%;
        height: 60px;
        font-size: 10px;
        /* width: 100%; */
    }
  }
