@media(max-width: 900px){
    .footer-my{
        background: #00262E;
        height: 70vh;
        padding: 2rem 4rem 0rem 4rem;
        color: #FFFFFF;
        margin-top: 220rem !important;
    }
}


/* @media (min-width: 1025px) {
        .footer-my {
            background: #00262E;
            height: 70vh;
            padding: 2rem 4rem 0rem 4rem;
            color: #FFFFFF;
            margin-top: 220rem !important;

        }} */