.rpG{
width: 26rem !important;
height: 65rem !important;
border: 1px solid black;
}
.cardG{
    width: 23rem !important;
    height: 30rem !important;
}
.imgGa{
    height: 250px;
}
@media (min-width: 370px) and (max-width: 767px) {
   .rpG{
    width: 380px !important;
    height: 400px !important;
    direction: ltr;
    border: none !important;
   }
   .cardG{ 
    width: 50% !important;
    height: 395px !important;
    margin-left:0.5rem !important;
   }
   .imgGa{
    height: 200px;
}
   .hg{
    font-size: 0.8rem !important; 
   }
   .pg{
    font-size: 0.8rem !important; 
   }
   .ppg{
    font-size: 1rem !important; ;
   }
   .btnG{
    width: 200px !important;
   }
}   