@media(max-width: 767px) {
    .upNav {
        height: 56px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #0098B8 !important;
        padding: 0 5px;
    }
   

    .left-nav {
        width: 20%;
        display: flex;
    }

    .offcanvas-header .btn-close {
        margin: 0 !important;
    }

    /* .off-head1 {
        margin: 0 !important;
        width: 20px;
        height: 15px;
    }
    .off-head1 img{
        width: 40px;
    } */


    .off-head:hover{
        color: black !important;
    }

    .offcanvas-body {
        padding: 0 !important;
    }


    .off-main {
        background-color: #0098B8 !important;
    }

    .logs {
        display: flex;
        align-items: center;
        /* margin-left: 9rem; */
    }

    
    .right-icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 4px;
    }

    .right-icons img {
        width: 20px;
        height: 20px;
        /* margin-right: 14px; */
    }

    .show-header {
        height: 56px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }

    .left-logo {
        display: flex;
        align-items: center;

    }

    .left-logo img {
        height: 25px
    }

    .li-img {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 14px;
    }

    ol, ul {
        padding-left: 1rem !important;
    }

    .first-li a {
        font-size: 20px;
      
    }

    .first-li li {
        margin-top: 5px !important;
        padding-left: 1rem;
    }

    .last-li a {
        font-size: 20px;
    }

    .last-li li {
        margin-top: 5px !important;
        padding-left: 1rem;
    }

    .straight-line {
        border: 1px solid #E2E3E3;
        width: 100%;
        margin: 2rem 0 3rem 0;
        
    }
    .logs img {
        height: 20px;
        width: 140px;
    }

}