

/* .ytp-cued-thumbnail-overlay-image {
    border-radius: 4rem;
} */
.youtubeG{
    width:38.3rem !important;
    height:30rem !important;
   
}
.gvideo{
    width: 37rem !important;
    height: 27rem !important;
}
@media (min-width: 768px) and (max-width: 1024px){
    .youtubeG{
        width:46.5rem !important;
        height:31rem !important;
    }
    .gvideo{
        width: 43.5rem !important;
        height: 27rem !important;
    }
    }
@media (min-width: 370px) and (max-width: 767px) {
    .youtubeG{
        width:21.5rem !important;
        height:27rem !important;
        /* border: 1px solid black !important; */
       
    }
    .gvideo{
        width: 20rem !important;
        height: 24rem !important;
        border: 1px solid red;
    }
}   