
.video-wrapper {
    position: relative;
    /* padding-top: 5.25%;  */
    overflow:hidden !important;
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .ytp-cued-thumbnail-overlay-image {
    border-radius: 4rem;
} */
.youtubeG{
    width:37rem !important;
    height:28rem !important;
    /* margin-top: 10rem !important; */
}
@media (min-width: 370px) and (max-width: 767px) {
    .youtubeG{
        width:22rem !important;
        height:28rem !important;
        /* margin-top: 10rem !important; */
    }
}   